﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.ApiKey</h3>
<h3>@ViewBag.UserNane</h3>
<h3>@ViewBag.Password</h3>



<p>Use this area to provide additional information.</p>
