﻿@{
    ViewBag.Title = "Home Page";
}

<div ng-app="VinDecoderApp" ng-controller="SubmitVinController">
    <div style="margin: 10px 0px;">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="vinNumberInput">Enter Vin Number</label>
                        <input type="text" ng-model="vinInput" class="form-control" id="vinNumberInput" placeholder="Enter VIN" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="vinNumberInput">Email</label>
                        <input type="text" ng-model="emailInput" class="form-control" id="vinNumberInput" placeholder="Enter Email" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="vinNumberInput">Password</label>
                        <input type="password" ng-model="passwordInput" class="form-control" id="vinNumberInput" placeholder="Enter Password" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="vinNumberInput">API Key</label>
                        <input type="text" ng-model="apiKeyInput" class="form-control" id="vinNumberInput" placeholder="Enter Key" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="DecodeVin()">Submit</button>
        </form>
    </div>

    <div ng-show='ShowBikeInfo'>
        <h1 class="text-success">{{SuccessMessage}}</h1>
        <table class="table table-inverse">
            <tr>
                <td style="width:20px">
                    <strong>Year</strong>
                </td>
                <td>
                    {{VehicleInformation.Year}}
                </td>
           </tr>
           <tr>
                <td style="width:200px">
                    <strong>Manufacturer</strong>
                </td>
                <td>
                    {{VehicleInformation.Manufacturer}}
                </td>
            </tr>
            <tr>
                <td style="width:200px">
                    <strong>Model Number</strong>
                </td>
                <td>
                    {{VehicleInformation.ModelNumber}}
                </td>
            </tr>
            <tr>
                <td style="width:200px">
                    <strong>Friendly Name</strong>
                </td>
                <td>
                    {{VehicleInformation.FriendlyName}}
                </td>
            </tr>
            <tr>
                <td style="width:200px">
                    <strong>Category</strong>
                </td>
                <td>
                    {{VehicleInformation.Category}}
                </td>
            </tr>
        </table>
        <h2>Specificaitons</h2>
        <div ng-repeat="x in VehicleInformation.Specifications">
            <div>
                <h3 class="text-primary">{{x.Group}}</h3>
                <table class="table table-striped table-sm">
                    <tr ng-repeat="s in x.Specs">
                        <td style="width:200px">
                            <strong>{{s.Label}}</strong>
                        </td>
                        <td>
                            {{s.Content}}
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
    <div ng-hide='ShowBikeInfo'>
        {{ErrorMessage}}
    </div>
    <div ng-show="LoadingScreen">
        <h4>Loading Vin Info...</h4>
    </div>


</div>

   

<script>
    var vinDecoderApp = angular.module('VinDecoderApp', []);
    vinDecoderApp.controller("SubmitVinController", function ($scope, $http) {
        
        $scope.DecodeVin = function () {
            $scope.LoadingScreen = true;
            $scope.ShowBikeInfo = false;    
            $http({
                method: 'GET',
                url: "http://localhost:56000/api/vin/" + $scope.vinInput,
                // pass in data as strings
                headers: {
                    'Authorization': 'Basic ' + btoa($scope.emailInput + ":" + $scope.passwordInput),
                    'ApiKey': $scope.apiKeyInput,
                    'Content-Type': 'application/json'
                }  // set the headers so angular passing info as form data (not request payload)
            }).then(function (data) {
                var apiResponse = JSON.parse(JSON.stringify(data));
                console.log($scope.emailInput + ":" + $scope.passwordInput);
                if (apiResponse.data.Response == "ERROR") {
                    $scope.ShowBikeInfo = false;
                    $scope.ErrorMessage = apiResponse.data.Message;
                } else {
                    $scope.ShowBikeInfo = true;
                    $scope.VehicleInformation = apiResponse.data;
                    $scope.SuccessMessage = apiResponse.data.Response;
                }
                $scope.LoadingScreen = false;
            });
        }
    });

</script>




